@media (max-width: 1340px) {
    .opt-mb {
        margin-left:2rem !important ;
    }

}


@media (max-width: 1183px) {
    .opt-mb {
        margin-left:2rem !important ;
    }

    .opt-in-mb {
        padding: 23px !important;
        margin: 10px !important;
    }

}


@media (max-width: 1124px) {
    .opt-mb {
        margin-left:2rem !important ;
    }

    .opt-in-mb {
        padding: 15px !important;
        margin: 6px !important;
    }

}

@media (max-width: 767px) {
    .opt-mb {
        margin-left:auto !important ;
    }

    .opt-in-mb {
        padding: 32px !important;
        margin: 15px !important;
    }

    .tbText {
        display: none;
    }


}



@media (max-width: 639px) {
    .opt-mb {
        margin-left:auto !important ;
    }

    .opt-in-mb {
        padding: 32px !important;
        margin: 15px !important;
    }


    .box1-mb-img {

        width: 13rem ;
    }

    .box1-mb {
        /*width:  18rem;*/
    }

}



@media (max-width: 375px) {
    .opt-mb{
            padding: 0rem !important;
    }

}


div.opt-in-mb:hover {
    background-color: #8ee1e2 !important;
}




/*
@media (max-width: 496px) {
    .chat-mb {
        margin-top:1.2rem !important;
    }

}

.chat-mb {
    margin-top: 5rem;
}*/