.Toastify__toast-container--top-right {
width: 600px;
}

 .outer-box{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    justify-content: center;
  align-items: center;
 }
 .card{
     border: solid 1px #ddd;   
     background-color: #f1c2b2;
     border-radius: 15px;
 }
 .new-btn:hover{
   background-color: #fed3c4;
   color: #b3644a;
   }
   .text-brown{
     color: #b3644a;
     font-size: 29px;
   }
 .new-btn{
  background-color: #b3644a;
  padding: 2 0 2 0rem;
  color: #f1c2b2;   
 }
 .bg-brown{
background-color: #b3644a;
color: #f1c2b2;
 }
 .bg-skin{
background-color: #fed3c4;
color: #b3644a;
 }
 .bg-skin:disabled{
   background-color: #D4BAB1;
   color: #696361;
 }
 .font-st{
  font-family: Chewy, cursive;
  letter-spacing: 0.1ch;
  color: #b3644a !important;
  font-size: 20px;
 }
 .font-st-head{
  font-family: Chewy, cursive;
  letter-spacing: 0.1ch;
  color: #b3644a !important;
  font-size: 25px;
 }
 .m1{
     margin: 1rem;
 }
 .app{
   max-width: 90%;
      display: flex;
      flex-wrap: wrap;
      padding: 20px;  
     /* border: 2px solid #d9c5fb; */
  background-color: #f1c2b2;
  /* width: 800px; */
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 2rem;
  /* box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75); */
  display: flex;

    }
 
    @media (min-width: 700px) {
        .layout-instructions{
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: 50% 50%;
        }
    }
   .instrucImage2{
       width: 800px;
       height: 300px;
       padding-top: 1rem;
       padding-left: 1rem;
   }
    .instrucImage{
width: 400px;
    }
    .ques-bg{
      background-color: #fed3c4;
      padding: 1rem;
    }
    .expln-ques{
        border-radius: 10px;
        /* padding: 1rem;  */
    }
    @media (min-width: 700px) {
      .expln-wid{
        min-width: 500px;
        min-height: 150px;
      }
  }
    .expln-box{
      background-color: #F7DCD3;
      color:#b3644a;
      margin: 1rem;
      padding: 1rem;
    }
    .text-transp{
      color: #F7DCD3;
    }
    .m4{
        margin-bottom: 40px;
    }
    .imgOption{
      display: inline;
      width: 120px;
      height: 70px;
      padding: 0;
    }
    .topbar{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .topbar2{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .sidebar-options{
      display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
  .score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
  }
  .text-600-30px{
    font-size: 30px !important;
  }
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    width: 100%;
    /* position: relative; */
  }
  
  .question-count {
      /* display: flex; */
      /* justify-content: space-between; */
      background-color: #F7DCD3;
      color:#b3644a;
      margin-right: 1rem;
      margin-left: 1rem;
      margin-top: 1rem;
      padding: 2rem;
      border-radius: 10px;
  }
  .options-display{
      /* background-color:rgb(230, 153, 12); */
      margin: 0.25rem;
      /* padding: 0.5rem; */
      border-radius: 25px;
      background-color: #f1c2b2;
      padding: 1rem;
  }
  .options-display:disabled{
    background-color: #D4BAB1;
    color: #696361
  }
  .question-count span {
    font-size: 16px;
    font-weight: 400;
  }
  
  .question-text {
    margin-bottom: 12px;
    font-weight: 600;
  }
  
  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    /* width: 100%; */
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #F7DCD3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (min-width: 700px) {
    .answer-wid{
      min-width: 400px;
      min-height: 400px;
    }
}

/*   
  button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
  }
  
  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  button:hover {
    background-color: #555e7d;
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  } */
