.but-card1 {

	background-color: #b38808;
	color: #fff;
}

.but-card1:hover {

	background-color: #795d0a;
	color: #fff;
}

.but-card2 {

	background-color: #a8491a;
	color: #fff;
}

.but-card2:hover {

	background-color: #923f17;
	color: #fff;
}

.but-card3 {

	background-color: #b76c0c;
	color: #fff;
}

.but-card3:hover {

	background-color: #875009;
	color: #fff;
}

.but-card4 {

	background-color: #6f9c8d;
	color: #fff;
}

.but-card4:hover {

	background-color: #4f6f65;
	color: #fff;
}


.but-card5 {

	background-color: #657692;
	color: #fff;
}

.but-card5:hover {

	background-color: #485468;
	color: #fff;
}


.but-card6 {

	background-color: #7c9735;
	color: #fff;
}

.but-card6:hover {

	background-color: #586c26;
	color: #fff;
}






.mb-card1 {
	display: none;
	right: -40px;
    top: -41px;
    max-height: 11rem;
}


@media (max-width:1454px) {

	.cartoon-1{
		display: none;
	}

	.mb-card1 {
		display:block;
		right: -40px;
    	top: -41px;
    	max-height: 11rem;
	}
}

@media (max-width:763px) {

	.cartoon-1{
		display: inherit;

	}
	.mb-card1 {
		display:none;
		right: -40px;
    	top: -41px;
    	max-height: 11rem;
	}	


}

@media (max-width:375px) {

	.cartoon-1{
		display: none;

	}

	.mb-card1 {
		display:block;
		right: -40px;
    	top: -41px;
    	max-height: 11rem;
	}
}

