*{
    margin: 0;
}

.header-hero{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-hero .header-brand-image {
    width: 70%;
    margin: auto;
    position: relative;
}

.header-hero .header-brand-image img {
    box-sizing: border-box;
    margin: 0rem;
    width: 60%;
    object-fit: cover;
    animation: zoomin 1s linear;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

.animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.header-hero .header-links{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

@keyframes zoomin{
    0%{
        transform: scale(0.5);
        visibility: visible;
    }
    100%{
        transform: scale(1);
        visibility: visible;
    }
}

ul{
    list-style-type: none;
    padding:0;
    margin: auto;
}



.card{
    color: aliceblue;
    font-weight: bold;
    animation: moveright 1s linear;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    min-width: 100px;
    justify-content: center;
    text-align: center;
}
.card:hover{
    color:#b91941;
}
@keyframes moveright{
    0%{
        transform: translatex(-100px);
        visibility: visible;
    }
    100%{
        transform: translatex(0px);
        visibility: visible;
    }
}

.card-p{
    background-color: #e28a17;
    text-transform: uppercase;
}
.card-g{
    background-color: #b9330a;
    text-transform: uppercase;
}

.card-v{
    background-color: #9510a7;
    text-transform: uppercase;
}

/* @media only screen and (max-width: 400px) {
    .card {
        width:10rem;
        height:5rem;
    }
    .header-hero{
       flex-wrap: wrap;
       flex-direction: column;
    }
    .header-hero .header-brand-image img{
        width:0;
    }
    
.header-hero .header-links{
    width: 100%;
    margin: auto;
}
  } */

  /* @media only screen and (min-width: 401px) {
    .header-hero{
       flex-wrap: wrap;
    }
    .header-hero .header-brand-image img{
        width:300%;
    }
    .header-hero .header-brand-image{
        width:40%;
        margin-left: 0;
    }
    
.header-hero .header-links{
    width: 30%;
    margin: auto;
}
  } */

  /* @media (min-width: 991px) {
    .header-hero{
        padding: 0rem;;
    }
    .header-hero .header-brand-image{
        width: 70%;
    }
    .header-hero .header-links{
        width: 30%;
    }
    .header-hero .header-brand-image img {
        width: 80%;
        object-fit: cover;
    }
  } */
  
  @media (max-width: 991px) {
    .header-hero{
        padding: 0rem;;
    }
    .header-hero .header-brand-image{
        width: 60%;
    }
    .header-hero .header-links{
        width: 30%;
    }
    .header-hero .header-brand-image img {
        width: 70%;
        object-fit: cover;
    }
}
  
  /* @media (max-width: 768px) {
    .header-hero .header-brand-image{
        width: 50%;
    }
    .header-hero .header-links{
        width: 40%;
    }
    .header-hero .header-brand-image img {
        width: 50%;
        object-fit: cover;
    }
  } */
  
  @media (max-width: 775px) {
    .header-hero{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .header-hero .header-brand-image{
      width: 100%
    }
    .header-hero .header-links{
        width: 50%;
    }
    .about-section .about-text{
        justify-content: center;
        text-align: center;
    }
    .menu{
        justify-content: space-between !important;
    }
    .header-hero .header-brand-image img {
        margin: auto;
        width: 50%;
        object-fit: cover;
        position: relative;
        left: -20%;
    }
  }
  
  @media (max-width: 690px){
    .header-hero .header-brand-image img {
        position: relative;
        left:0%;
        width: 80%;
    }
}
    @media (max-width: 690px){
        .header-hero .header-brand-image img {
            position: relative;
            left:0%;
        }
}
  
@media (max-width: 530px) {
    /* .card{
        visibility: hidden !important;
    } */
    
    .main-links{
        animation: moveright 1s linear;
        animation-delay: 1s;
        /* visibility: hidden; */
        color: #fff;
        animation-fill-mode: forwards;
        font-size: 1.3rem;
        background:linear-gradient(#ef5959, #efc259);
        background-image: linear-gradient(to right, #ef5959  11%, #F09819  100%);
        border-radius: 2rem;
        border:0;
        width:8rem;
        padding: 1rem; 
        margin: 2rem; 
        animation-fill-mode: forwards;
    }
    .menu{
        visibility: hidden;
    }

}

  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
  /* .main-links{
      visibility: hidden;
  } */


  .about-section{
      min-width: 300px;
      font-weight: 900;
      text-align: right;
      width: 80%;
      margin: auto;
      margin-top: 4rem;
  }

  .about-text{
      color: rgb(192, 12, 66);
      margin:auto;
  }

  .about-section .about-heading{
      font-size: 5rem;
  }
  .about-section .about-subheading{
    font-size: 2rem;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.link-tab{
    font-size: 2rem;
}
.link-tab i{
    font-size: 3rem;
}